[submodule "resumeNFT/lib/ds-test"]
	path = resumeNFT/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "resumeNFT/lib/openzeppelin-contracts"]
	path = resumeNFT/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
